<body>

    <div id="root">

      <header class="primary-header">
        <nav><ul><li></li></ul></nav>
      </header>

      <main class="main">

        <section class="menu">

          <section class="menu__category starters">
            <header class="menu__header">
              <h2 class="menu__title"></h2>
            </header>
            <ul class="menu__list">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </section>

          <section class="menu__category main">
            <header class="menu__header">
              <h2 class="menu__title"></h2>
            </header>
            <ul class="menu__list">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </section>
        </section>

        <section class="basket">
          <ul><li></li></ul>
        </section>

      </main>

      <footer class="footer">
        <ul><li></li></ul>
      </footer>

    </div>

</body>