$border-thickness: 0.05rem;
$mid-colour: #d2c69e; 
$dark-colour: #2d2211;
$light-colour: #fffae8;
$header-colour: #ede2bb;

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $light-colour;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  line-height: 1.7rem;  
}

.header {
  background-color: $header-colour;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

h1 {
  color: $dark-colour;
}

#root {
  padding: 0;
  margin: 0;
}