.max-menu-item{
  font-family: 'Noto Sans', sans-serif;
  position: relative;
  max-width: 100%;
  height: 70vh;
  list-style: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  background-size: cover;
  background-position: center;
  word-break: break-all;

  border: 1px solid black;
  border-radius: 2%;


  &:after{
    display: flex;
    z-index: 1;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-image: linear-gradient(to top, rgba(255,0,0,0), #040404);
    opacity: .6;
    overflow: auto;
  }

  &__name{
    z-index: 100;
    margin-top: 6rem;
    color: white;
    margin-left: 1.5rem;
  }

  &__price-add{
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;


  }

  &__price{
    font-size: 2rem;
    background-color: #73db3b;
    margin-right: 1rem;
    padding: 0.5rem;
  }
}


.fa-plus-circle{
  color: #FFDA02;
  font-size: 1.5rem;
}
