.menu{
  // display: flex;
  // flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;


  &__restaurant{
    height: 90vh;
    background-image: url('/static/images/burgermain.jpg');
    background-position: center;
    background-size: cover;

  }

  &__category{
    background-color: #FCFCFC;
    // padding: 1rem;
    height: 75vh;


    &__header{
      margin: 0;
      margin-left: 1rem;
      padding: 0;
      font-size: 2rem;

    }
  }

  &__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 15rem;
    grid-gap: 0.5em;
    height: 75vh;
    background-color: #FAFAFA;


  }

  &__items > * {
    // flex: 1 1;
    margin: 0.5rem;
  }
}
