@import 'parameters';

.menu{
  display: grid;
  grid-gap: $card-gap;
  background-color: $background-color;

  position: relative;
  top:0px;
  bottom:68px;

}

@media(min-width:768px){
  .menu{

    display: grid;
    grid-template-columns: repeat(2,auto);
  }

}
