.purchase {
    position: absolute;
    z-index: 10;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
    min-width: 100%;
    left: 0; 
    filter: drop-shadow(0 0 1rem unquote('#ab660050'));
    &__header {
        & h2 {
            margin: 0.5rem 0;
        }
    }
    & ul, & li {
        margin: 0;
        padding: 0;
    }
    &__checkout, &__id {
        input, button {
            min-width: 9rem;
            width: 100%;
            min-width: 12rem;
            max-width: 24rem;
            margin-bottom: 1em;
        }
    }
}
